<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CyberSecProj Change Password</title>
    </head>
    
    <body>
		<h2>Change Password</h2>
        <form action="/changepassword/" method="POST">
            {% csrf_token %}
            Password: <input type="password" name="password1">
            <br/>
            Retype Password: <input type="password" name="password2">
            <br/>
            <input type="hidden" name="username" value="{{ username }}">
            <input type="submit">
        </form>
        <br/>
        <a href="/">Return to home page</a>
    </body>

</html>